.header{
    display: flex;
    justify-content: space-between;
    background-color: white;
    width: 70vw;
    margin: auto;

    img{
        width: 17vw;
        height: 7vh;
    }

    nav{
        width: 30vw;
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        
    }
    .login{
        width: 10vw;
        display: flex;
        justify-content: space-around;
        text-transform: uppercase;
    }
}